* {
  font-weight: 250;
}

.about{
  height: 700px;
  align-items: center;
  justify-content: center;
  position: relative;
  border-top: 0.5px black solid;
  color: white;
  background: black;
  overflow: hidden;
  position: relative;
}

.about img {
  opacity: 0.25;
  margin: auto;
  width: 100%;
}

.about_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 300px;
  position: absolute;
  top: 25%;
  margin: auto;
  position: absolute;
  margin-left: 100px;
}

.info {
  font-size: 20px;
  /* padding-bottom: 500px; */
}

.about_content{
  width: 800px;
  padding: 10px;
  margin-right: 100px;
  /* text-align: center; */
  margin-bottom: 200px;
  border-bottom: 1px solid white;


}

.about_content h1{
  font-size: 35px;
  text-transform: uppercase;
}

.about_content h2{
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.about_content button {
  width: 150px;
  height: 30px;
  border: 1px white solid;
  background:black;
  box-shadow: 2px 2px 1px white;
  font-size: 20px;
  margin-right: 20px;
  color:white;
}

.about_content button:hover {
  position: relative;
  top: 2px;
  left: 2px;
  width: 150px;
  height: 30px;
  border: 1px white solid;
  background: black;
  box-shadow: none;
  font-size: 20px;
}

.about_img_container{
  text-align: center;
}

.about_card img{
  height: 450px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px black solid;
}