.container {
  height: 50px;;
  display: flex;
  flex-direction: row;
  font-family: 'Inconsolata', monospace;
  font-weight: 200;
  background: black;
  color: white;
}

.container .logo {
  flex: 25%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left:150px ;
  font-size: 17px;
}

.container .links {
  flex: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding-right:150px ;
}

.container ul li{
  display: inline;
}

.container a {
  text-decoration: none;
  margin: 30px;
  color: white;
}

.container a:hover {
  text-decoration: underline;
  margin: 30px;
  color: white;
}