.contain {
  padding: 85px;
  margin-bottom: 150px;
  background: linear-gradient(to right bottom, black,  rgb(93, 89, 89));
  color: white;
  border-top: 1px white solid;
}

.contain .text {
  width: 50%;
}

.contain h1 {
  margin-bottom: 13px;
}

.contain p {
  font-size: 13px;
}

.programs{
  height: 400px;
  display: flex;
  font-size: 13px;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 20px;;
}

.col{
  margin: auto;
  flex-basis: 25%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  border: 0.5px white solid;
  box-shadow: 4px 4px 1px white;
  height: 350px;
  background: black;
}

.col img{
  margin-bottom: 13px;
}